.side-nav {
    z-index: 9999999 !important;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 55px;
        left: 0;
        z-index: 1;
        background: linear-gradient(rgb(var(--v-theme-background)) 5%, rgba(var(--v-theme-background), 75%) 45%, rgba(var(--v-theme-background), 20%) 80%, transparent);
        width: calc(100% - 10px);
        height: 26px;
    }

    &.v-navigation-drawer--left {
        border-right: 1px solid #3a3948;
    }

    // ==== Logo ==== //
    .Logo.v-responsive {
        flex: 0 0 auto;
    }

    // ==== side bar header ==== //
    .side-head {
        padding: 15px 10px;
        height: 65px;
        border-bottom: 1px solid #3a3948;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        z-index: 2;
    }

    // ==== side bar body ==== //
    .side-body.v-list {
        padding: 15px 7.5px;
        max-height: calc(100dvh - 66px);
        overflow-y: auto;
        position: relative;
        z-index: 1;

        .v-list-item {
            gap: 10px;

            .v-list-item__overlay {
                border-radius: 10px;
            }

            &.v-list-item--active> {
                .v-list-item__overlay {
                    background-color: rgb(var(--v-theme-black));
                    opacity: 0.2;
                }
            }

            &:hover {
                .v-list-item__overlay {
                    background-color: rgb(var(--v-theme-black));
                    opacity: 0.2;
                }
            }

            &.v-list-item--nav {
                .v-list-item-title {
                    font-size: 14px;
                    font-weight: 500;
                    color: rgb(var(--v-theme-black));
                }
            }

            .v-list-item__spacer {
                display: none;
            }

            .v-icon{
                width: 20px;
                height: 20px;
                opacity: 1;

                svg{
                    width: 100%;
                height: 100%;
                }
            }
        }
    }

    .v-list-group__items .v-list-item {
        padding-inline-start: 30px !important;
    }



    // ==== side bar open & close ==== //
    &.v-navigation-drawer--rail {
        .v-list.side-body {
            overflow: hidden;
        }

        .v-list-group {
            .v-list-group__items {
                display: none;
            }
        }

        &.v-navigation-drawer--is-hovering {
            .v-list.side-body {
                overflow-y: auto;
            }

            .v-list-group {
                .v-list-group__items {
                    display: inherit;
                }
            }
        }
    }
}