body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.v-main {
  padding-top: 0 !important;
  display: flex;
  flex-direction: column;

}

.main-model .v-application__wrap {
  flex-direction: row;
}

.main-content-box{
  flex: 1 1;
  padding: 20px;
}