.header{
    width: 100% !important;
    max-width: 100% !important;
    
    &.v-app-bar {
        position: sticky !important;
        top: 0 !important;
        z-index: 999999 !important;
        max-width: 100% !important;
        
        .v-toolbar__content {
            padding: 10px !important;
        }
        
        .Logo.v-responsive {
            flex: 0 0 auto;
        }
    }
}